<template>
  <div class="about">
    <img
      alt="Vue logo"
      style="width: 300px; object-fit: contain"
      src="../assets/currency.png"
    />
    <h1 style="margin: 30px 0">Текущие курсы валют к рублю</h1>

    <div
      style="display: flex; flex-flow: column; max-width: 700px; margin: auto"
      id="example-1"
    >
      <div
        style="display: flex; justify-content: flex-end"
        v-for="valute in valutes"
        :key="valute.id"
      >
        <p style="margin-right: auto">{{ valute.Name }}</p>
        <p style="margin-right: 30px; min-width: 100px; text-align: right">
          Код: {{ valute.CharCode }}
        </p>
        <p style="min-width: 100px; text-align: right">{{ valute.Value }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "HelloWorld",
  props: {
    msg: String,
  },
  data() {
    return {
      valutes: null,
    };
  },
  mounted() {
    axios
      .get("https://www.cbr-xml-daily.ru/daily_json.js")
      .then((response) => {
        this.valutes = response.data.Valute;
      })
      .catch((error) => {
        console.log(error);
      });
  },
};
</script>
