<template>
  <div class="home">
    <img
      alt="Vue logo"
      style="width: 300px; object-fit: contain"
      src="../assets/exchange.png"
    />
    <HelloWorld />
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from "@/components/HelloWorld.vue";

export default {
  name: "HomeView",
  components: {
    HelloWorld,
  },
};
</script>
