<template>
  <div class="hello">
    <h1 class="text-center mb-4">Конвертер валют</h1>

    <p>Пример: 15 USD TO RUB</p>

    <div style="margin-bottom: 25px">
      Запрос курса

      <input type="text" name="" v-model="askingCourse" />
      <button style="margin: 0 15px" @click="this.convert">
        Получить курс
      </button>
      <input type="text" readonly name="" v-model="result" />
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "App",
  data() {
    return {
      valutes: null,
      askingCourse: "15 USD TO RUB",
      result: "",
    };
  },

  methods: {
    convert: function () {
      var splitted = this.askingCourse.split(" "),
        currencyTotal = 0;
      if (splitted[3] == "RUB") {
        currencyTotal = this.valutes[splitted[1]].Value * splitted[0];
        this.result = currencyTotal.toFixed(3) + " " + splitted[3];
      } else {
        var CurrencyToConvert = this.valutes[splitted[3]].Value;
        currencyTotal =
          (this.valutes[splitted[1]].Value / CurrencyToConvert) * splitted[0];
        this.result = currencyTotal.toFixed(3) + " " + splitted[3];
      }
    },
  },

  mounted() {
    axios
      .get("https://www.cbr-xml-daily.ru/daily_json.js")
      .then((response) => {
        this.valutes = response.data.Valute;
      })
      .catch((error) => {
        console.log(error);
      });
  },
};
</script>
